---
import { faker } from '@faker-js/faker';
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown';

const tomorrow = new Date()
tomorrow.setDate(tomorrow.getDate() + 1)
tomorrow.setHours(0,0,0,0)
---

<Layout title="Welcome to Astro.">
	<main>
		<Countdown client:visible targetDate={tomorrow} />
	</main>
</Layout>