---
import { faker } from '@faker-js/faker';
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown';

let soon = faker.date.soon({ days: 10 });
soon.setMilliseconds(0);
---

<Layout title="Welcome to Astro.">
	<main>
		<Countdown client:visible targetDate={soon} />
	</main>
</Layout>